.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}

/* ADDED CHANGES, NEEDED SOLUTION */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ADDED CHANGES TO CENTER/FILL IN PAGE */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}