/* style.css */

/* Universal Selector */
* {
    /*  */
}

/* Type Selector */
div {
    color: white;
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* Class Selector */
.alert-text {
    color: red;
}

/* ID Selector */
#title {
    background-color: red;
}

/* Grouping Selector */
.read, 
.unread {
    color: white;
    background-color: black;
}

/* Chaining Selector */
.subsection.header {
    color: red;
}

.subsection#preview {
    color: blue;
}

/* Descendant Combinator */
.ancestor .contents {
    color: green;
}

/* Basic Properties */
.example-color {
    color: #10f;
    color: rgb(100,0,127);
    color: hsl(15,82%,56%);
}


.example-font {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold, 700;
    text-align: center;
}

.example-img {
    height: 1000px,auto;
    width: 500px;
}