* {
  /* border: 2px dotted red; */
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.cont-info {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.plants {
  max-width: 200px;
}

